
.global_footer{width:970px;margin:20px auto 0;padding:20px 20px 10px 20px; background-repeat: no-repeat; background-position: left bottom; _background-image:none;}.global_footer .list{float:left;width:170px;_width:165px;display:inline;margin:0 20px 0 0;}.global_footer .list_right{margin-right:0;}.global_footer .list dt{line-height:20px;padding:0 0 5px;}.global_footer .list dd{line-height:20px;}.global_footer .list dd a{ margin-right:10px;}.global_footer .other_link{ line-height:0.5;margin:15px 0 0;border-top-width:1px; border-top-style:solid;}.global_footer .other_link p{padding:3px 0 0;line-height:18px;}.global_footer .help_link{float:left;padding:10px 0 0;}.global_footer .help_link a{ margin-right:10px;}.global_footer .copy{float:right;text-align:right;line-height:20px;padding-top:28px;}.global_footer .copy .W_linkb{padding-bottom:2px;}

.list{width: 100px;height: 100px;float: left;}
.list a{font-size: 12px}
.help_link a{color: #333333}
.S_txt2{color: #808080}



